@font-face {
	font-family: "Computer Modern";
	src: url('fonts/cmunti.otf');
}
body {
	margin: 0;
	color: white;
	background-color: black;
  font-family: "Computer Modern";
}
label {
	font-size: 1.5em;
	letter-spacing: 1.2px;
}
ol {
	padding: 0;
	list-style: none;
}
button {
  background-color: #0075ff;
  border: none;
  color: white;
  font-family: "Computer Modern";
	font-size: 1.2em;
	letter-spacing: 1.2px;
  padding: 0.333em;
  margin-bottom: 0.3em;
}

.equation-container {
  position: absolute;
  right: 1em;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 2em;
}
#equation {
  font-size: 2em;
  margin: 0 0.5em;
}
.equation-container svg {
  fill: white;
}
.equation-container svg:hover {
  cursor: pointer;
}

input[type="number"] {
  width: 4em;
  color: white;
  background: transparent;
  font-family: "Computer Modern";
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  text-align: center;
}

label {
  font-size: 2em;
}