@font-face {
	font-family: "Computer Modern";
	src: url('fonts/cmunti.otf');
}
body {
	margin: 0;
	color: white;
	background-color: black;
  font-family: "Computer Modern";
}
label {
	font-size: 1.5em;
	letter-spacing: 1.2px;
}
ol {
	padding: 0;
	list-style: none;
}
button {
  background-color: #0075ff;
  border: none;
  color: white;
  font-family: "Computer Modern";
	font-size: 1.2em;
	letter-spacing: 1.2px;
  padding: 0.333em;
  margin-bottom: 0.3em;
}

.equation-container {
  position: absolute;
  right: 1em;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 2em;
}
#equation {
  font-size: 2em;
  margin: 0 0.5em;
}
.equation-container svg {
  fill: white;
}
.equation-container svg:hover {
  cursor: pointer;
}

input[type="number"] {
  width: 4em;
  color: white;
  background: transparent;
  font-family: "Computer Modern";
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  text-align: center;
}

label {
  font-size: 2em;
}

/* Code credit goes to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: noen;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: black;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 2px 16px;
  background-color: #17a2b8;
  border-radius: 10px 10px 0 0;
  color: white;
}

.modal-header h2 {
  margin: 0.3em 0;
  font-size: 2em;
}

.modal-body {
  padding: 2px 16px;
  color: black;
  font-size: 1.5em;
}

.modal-footer {
  padding: 2px 16px;
  color: black;
}

.modal-inner .title {
  margin-bottom: 0.2em;
}

.modal-inner .titled {
  margin-top: 0;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}